```
# Build artifacts
*.obj
*.exe
*.dll
*.pdb
*.userprefs
*.user
*.suo
*.cache
*.manifest
*.lockb
bin/
obj/
Debug/
Release/
x64/
x86/
# Dependencies
packages/
# Logs
*.log
# Temp files
*.tmp
*~
# User-specific files
.vs/
.vshistory/
```